@section-padding : 10px;
@margin-container : 100px;
@size-container : 950px;
@space-between-w2-container : 5vw;

section {
    padding: @section-padding;
    text-align: center;
    position: relative;
    width: calc(~"100vw - 2 * "@section-padding);

    .base-container {
        max-width: @size-container;
        display: inline-block;
        text-align: left;
        width: calc(~"100% - "@margin-container);
        .element {
            .text {
                padding: 20px;
            }
            &.w1 {
                width: 100%;
            }
            @media only screen and (max-width : 768px) {
                &.w2 {
                    width: 100%;
                }
                &.w2:not(:last-of-type) {
                    margin-bottom: @space-between-w2-container;
                }
            }
            @media only screen and (min-width : 768px) {
                &.w2 {
                    width: calc(~"50% - 3px - "@space-between-w2-container / 2);
                }
                &.w2:not(:last-of-type) {
                    margin-right: @space-between-w2-container;
                }
            }
        }
    }
}

@media only screen and (max-width : 450px) {

}

@media only screen and (min-width : 450px) and (max-width : 768px) {

}

@media only screen and (max-width : 1070px) {

}

@media only screen and (min-width : 1071px) {

}
